---
import TarjetaDeProducto from "../components/TarjetaDeProducto.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="auriculares font-extrabold">AURICULARES</h1> 
    <div>
        <TarjetaDeProducto
            title="Auriculares Razer Kitty Kraken"
            price={60.99}
            img="RazerGato.jpg"
        />
        <TarjetaDeProducto
            title="Auriculares Razer Blackshark v2X"
            price={85.99}
            img="auriculares.png"
        />
        <TarjetaDeProducto
            title="Auriculares Logitech G34pro"
            price={230.99}
            img="attacksharkl80.png"
        />
        <TarjetaDeProducto
            title="Auriculares Razer Barracuda Black"
            price={145.75}
            img="razerBarracuda.png"
        />
        <TarjetaDeProducto
            title="Auriculares Logitech G899"
            price={149.99}
            img="g935logitech.png"
        />
        <TarjetaDeProducto
            title="Auriculares Logitech G435"
            price={250}
            img="435Logitech.png"
        />
    </div>
</Layout>
<style>
    div{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        gap: 20px;
        padding: 20px 60px;
        
    }

    .auriculares{
        padding: 20px 60px;
        font-size: 3rem;
        text-shadow: 1cap 1px 2px rgba(255, 255, 255, 0.147);
    }
</style>