---
import TarjetaDeProducto from "../components/TarjetaDeProducto.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>  
    <h1 class="comprar font-extrabold">COMPRAR</h1>
    <div>
        <TarjetaDeProducto
            title="Silla Gamer Asus Greenflax"
            price={166.99}
            img="sillagamer.webp"
        />
        <TarjetaDeProducto
            title="Auriculares Razer Blackshark v2X"
            price={85.99}
            img="auriculares.png"
        />
        <TarjetaDeProducto
            title="Telefono Gamer Redmagic 10pro"
            price={859.99}
            img="redmagic.jpg"
        />
        <TarjetaDeProducto
            title="Teclado Archytus v5"
            price={348.99}
            img="ornatav3gosss.jpg"
        />
        <TarjetaDeProducto
            title="Raton Logictech G502"
            price={479.99}
            img="logimause.webp"
        />
        <TarjetaDeProducto
            title="Teclado Unitron v4"
            price={165.66}
            img="RazerBlackWidow.jpg"
        />
    </div>
</Layout>
<style>
    div{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        gap: 20px;
        padding: 20px 60px;
        
    }

    .comprar{
        padding: 20px 60px;
        font-size: 3rem;
        text-shadow: 1cap 1px 2px rgba(255, 255, 255, 0.147);
    }

</style>