---
import TarjetaDeProducto from "../components/TarjetaDeProducto.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout> 
    <h1 class="controles">CONTROLES</h1>
    <div>

        <TarjetaDeProducto
            title="Ps5 Control Versión Spiderman 2"
            price={167.99}
            img="ps5Spidey.png"
        />
        <TarjetaDeProducto
            title="Ps5 Control Edge Versión Estándar"
            price={299.99}
            img="pseEdge.png"
        />
        <TarjetaDeProducto
            title="Xbox Wireless Controller Elite"
            price={270.99}
            img="elite.jpg"
        />
        <TarjetaDeProducto
            title="Xbox Wireless Controller Versión Gold Shadow"
            price={130}
            img="GoldShadow.png"
        />
        <TarjetaDeProducto
            title="Xbox Wireless Controller Versión Treyarch"
            price={165.75}
            img="byo1xbxopt.png"
        />
        <TarjetaDeProducto
            title="Xbox Wireless Controller Versión Lunar Shift"
            price={170.99}
            img="LunarShift.png"
        />\
    </div>
</Layout>
<style>
    div{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        gap: 20px;
        padding: 20px 60px;
        
    }

    .controles{
        padding: 20px 60px;
        font-size: 3rem;
        text-shadow: 1cap 1px 2px rgba(255, 255, 255, 0.147);
    }
    
</style>