---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        MARCAS AUTORIZADAS
        <div>
            <img src="/lagarto.png" alt="lagarto" />
            <p>
                Desde sus poderosas placas base y tarjetas gráficas hasta sus
                innovadores portátiles gaming y monitores de alta velocidad, MSI
                ha estado a la vanguardia de la tecnología para gamers. Sus
                componentes están diseñados para resistir las sesiones de juego
                más intensas
            </p>
            <img src="/logitech.png" alt="logitech" />
            <p>
                nos enorgullece anunciar una colaboración oficial con Logitech
                G, la marca líder en periféricos para gaming. Esta alianza es
                mucho más que una simple asociación; es la unión de dos
                pasiones: la nuestra por ofrecer los mejores productos y la de
                Logitech G por crear la tecnología que impulsa a los campeones.
            </p>
        </div>

        <div>
            <img src="/razer.png" alt="razer" />
            <p>
                En nuestra tienda, la pasión por los videojuegos se une a la
                excelencia en hardware. Nos enorgullece anunciar nuestra
                colaboración exclusiva con Razer, el líder mundial en
                periféricos y accesorios de alta gama para gamers. Esta alianza
                no es solo una adición a nuestro catálogo; es una promesa a
                nuestra comunidad de jugadores.
            </p>
            <img src="/redragon.png" alt="redragon" />
            <p>
                sabemos que el rendimiento en el juego es tan importante como la
                pasión por él. Por eso, estamos orgullosos de anunciar nuestra
                colaboración oficial con Redragon, una de las marcas líderes en
                periféricos gaming a nivel global. Esta alianza nos permite
                traer directamente a ti la calidad, la innovación y la
                durabilidad que todo jugador competitivo y entusiasta necesita.
            </p>
        </div>
    </div>
</Layout>
