---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <div>
            <h1>SOPORTE</h1>
            <div>
                <button>
                    <img src="" alt="" />
                </button>
            </div>
        </div>
        <div>
            <h1>DISTRIBUIDORES AUTORIZADOS</h1>
            <img src="/cdworld.png" alt="a" />
            <img src="/diggit.png" alt="b" />
            <img src="/gamingpoint.png" alt="c" />
            <img src="/gezatech.png" alt="d" />
            <img src="/gn.png" alt="e" />
            <img src="/juegosX.png" alt="f" />
            <img src="/malditohard.png" alt="g" />
            <img src="/mercadolibre.png" alt="h" />
            <img src="/tecnofullshop.png" alt="pg" />
        </div>
    </div>
</Layout>
