---
import { Icon } from "astro-icon/components";
---

<footer class="bg- text-white flex justify-center items-center">
    <div class=" border-b-blue-900 p-3 rounded-full text-2xl gap-4 bg-neutral-900">
        <Icon name="x"/>
        <Icon name="logowhatsapp" class="text-green-500"/>
        <Icon name="logofacebook" class="text-blue-700"/>
        <Icon name="logoinstagram" class="text-pink-800"/>
        <p>
         breaded08@gmail.com
        </p>
    </div>
    <div class=" border-gray-900 p-3 rounded-full text-2xl gap-4 bg-neutral-900">
        <Icon name="llamada" class="text-amber-300"/>
        <p>
         0412-5033798 0212-8765454
        </p>
    </div>
</footer>

<style> 

footer{
display: flex;
padding: 30px 60px;
gap: 60px;
justify-content: center;
background-color: rgb(10, 8, 16);

}

div{
    display: flex;
    align-items: center;
}
</style>