---
import { Icon } from "astro-icon/components";
---

<footer>
    <div>
        <Icon name="x" />
        <Icon name="logo whatsapp" />
        <Icon name="logo facebook" />
        <Icon name="logo instagram" />
        <p>
         breaded08@gmail.com
        </p>
    </div>
    <div>
        <Icon name="llamada" />
        <p>
         0412-5033798 0212-8765454
        </p>
    </div>
</footer>
