---
import { Icon } from 'astro-icon/components'
---

<div>
    <div>
        <h1>Lee Store</h1>
        <p>
            Ofrecemos a las personas productos de la mejor calidad buscando
            principalmente el equilibrio entre comodidad y estética para que
            tengan una experiencia única y singular, con productos de marcas
            top.
        </p>
        <div>
           <Icon name="facebook" />
           <Icon name="instagram" />
           <Icon name="whatsapp" />
           <Icon name="x" />
        </div>
    </div>
    <div>
        <img src="/public/imagen de pereféricos.jpg" alt="imagen de periféricos">
        <p>Tenemos los mejores productos en todo el país</p>
    </div>
</div>
