---
import { Icon } from 'astro-icon/components'
---

<div class="border-1 border-blue-800 grid grid-cols-2 gap-20 p-20 items-center">
    <div class="">
        <h1 class=" text-8xl font-extrabold">LEE STORE</h1>
        <p class="text-2xl font-semibold">
            Ofrecemos a las personas productos de la mejor calidad buscando
            principalmente el equilibrio entre comodidad y estética para que
            tengan una experiencia única y singular, con productos de marcas
            top.
        </p>
    </div>
    <div>
        <img class="rounded-b-full" src="imagen de pereféricos.jpg" alt="imagen de periféricos">
    </div>
</div>
