<div class="marca">
    <img src="/lagarto.png" alt="lagarto" />
    <p>
        Desde sus poderosas placas base y tarjetas gráficas hasta sus
        innovadores portátiles gaming y monitores de alta velocidad, MSI ha
        estado a la vanguardia de la tecnología para gamers. Sus componentes
        están diseñados para resistir las sesiones de juego más intensas
    </p>
</div>


<style>
    .marca {
        display: flex;
    }
</style>