<header>
		<nav>

<img src="/LogoPagina.jpg" alt="logopagina">

       <ul>

        <li> <a href="/">inicio</a></li>
        <li><a href="/buy">comprar</a></li>
        <li><a href="/information">informacion</a></li>
        <li><a href="/about-us">sobre nosotros</a></li>

       </ul>

		</nav>
	</header>