---
import { Icon } from "astro-icon/components";
---

<header>
    <nav>
        <div>
            <img class="rounded-md py-1" src="/LogoPagina2.png" alt="logopagina" />
    
            <ul class="">
                <li class="hover:scale-110 duration-300"><a href="/">INICIO</a></li>
                <li class="hover:scale-110 duration-300"><a href="/Auriculares">AURICULARES</a></li>
                <li class="hover:scale-110 duration-300"><a href="/Consolas">CONSOLAS</a></li>
                <li class="hover:scale-110 duration-300"><a href="/Ordenadores">ORDENADORES</a></li>
                <li class="hover:scale-110 duration-300"><a href="/Controles">CONTROLES</a></li>
                <li class="hover:scale-110 duration-300"><a href="/Comprar">COMPRAR</a></li>
                <li class="hover:scale-110 duration-300"><a href="/Soporte">SOPORTE</a></li>
            </ul>
        </div>

        <button class=" p-2 rounded-md hover:scale-150 duration-300 cursor-pointer bg-gray-900  ">
            <Icon name="lupa" />
        </button>
    </nav>
</header>

<style>
    nav {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(7, 1, 23);
        justify-content: center;
    }
    div {
        display: flex;
        align-items: center;
    }

    img {
        width: 70px;
    }

    ul {
        display: flex;
        gap: 50px;
        font-weight: 800;
        padding: 20px;
    }

</style>
