---
import { Icon } from "astro-icon/components";
---

<header>
    <nav>
        <div>
            <img src="/LogoPagina2.png" alt="logopagina" />
    
            <ul>
                <li><a href="/">inicio</a></li>
                <li><a href="/Auriculares">AURICULARES</a></li>
                <li><a href="/Consolas">CONSOLAS</a></li>
                <li><a href="/Ordenadores">ORDENADORES</a></li>
                <li><a href="/Controles">CONTROLES</a></li>
                <li><a href="/Marcas">MARCAS</a></li>
                <li><a href="/Comprar">COMPRAR</a></li>
                <li><a href="/Soporte">SOPORTE</a></li>
            </ul>
        </div>

        <button>
            <Icon name="lupa" />
        </button>
    </nav>
</header>

<style>
    nav {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(57, 25, 145);
    }
    div {
        display: flex;
        align-items: center;
    }

    img {
        width: 56px;
    }

    ul {
        display: flex;
        gap: 40px;
        font-weight: 500;
    }

</style>
