<header>
		<nav>

<img src="/LogoPagina2.png" alt="logopagina">

       <ul>
        <li> <a href="/">inicio</a></li>
        <li><a href="/Auriculares">AURICULARES</a></li>
        <li><a href="/Consolas">CONSOLAS</a></li>
        <li><a href="/Ordenadores">ORDENADORES</a></li>
        <li><a href="/Controles">CONTROLES</a></li>
        <li><a href="/Marcas">MARCAS</a></li>
        <li><a href="/Comprar">COMPRAR</a></li>
        <li><a href="/Soporte">SOPORTE</a></li>
       </ul>

		</nav>
	</header>

<style>
       ul{
             display: flex; 
             gap: 20px;
       }
</style>